body {
  font-family: "roboto";
}
#editor,
#tut-content {
  border-right: 1px solid #ccc;
  background: #fff;
  height: 100%;
  padding: 20px;
}
#ide,
#tutorial {
  padding: 10px;
  box-sizing: border-box;
}
.container-fluid > .row {
  height: 95vh;
}
code {
  font-family: "roboto";
  white-space: pre;
  font-weight: 400;
  font-size: 1.1em;
  background: inherit;
  color: #3385ff;
}
nav ul li {
  display: inline-block;
  text-align: center;
  font-weight: bolder;
  color: #3385ff;
  padding: 3px;
}
a > li:hover {
  color: #ff4081;
}
