// DISPLAY PROPERTIES
.db
	display block
.di
	display inline
.dib
	display inline-block
.df
	display flex



//POSITIONING
.pa
	position absolute
.pr
	position relative
.pf
	position fixed
	

//FLOAT
.fl
	float left
.fr
	float right

	

//MARGIN
.ma
	margin auto
.mlra
	margin-left auto
	margin-right auto
.mtba
	margin-top auto
	margin-bottom auto
	

//PADDING


//COLOR
.cred
	color red
//BACKGROUND
.bgred
	background-color red


//WIDTH
.w100p
	width 100%
//HEIGHT
.h100p
	height 100%
	



