@import 'mixins.styl'

.image-card.mdl-card 
  width 256px
  height 256px
  margin-bottom 40px  

.image-card > .mdl-card__actions 
  height 52px
  padding 16px
  background rgba(0, 0, 0, 0.2)

.image-card-author
  color #fff
  font-size 16px
  font-weight 500
  
img-gen('5', 'images/bootstrap_logo.png')
img-gen('7', 'images/css3_logo.png')
img-gen('8', 'images/camera_logo.png')
img-gen('10', 'images/html5_logo.png')
img-gen('12', 'images/javascript_logo.png')
img-gen('13', 'images/jquery_logo.png')
img-gen('15', 'images/py_logo.png')
img-gen('16', 'images/less_logo.png')
img-gen('17', 'images/sass_logo.png')
img-gen('18', 'images/map_logo.png')
img-gen('20', 'images/node_logo.png')
img-gen('21', 'images/php_logo.png')
img-gen('25', 'images/rails1_logo.png')
img-gen('26', 'images/scala_logo.jpg')
img-gen('28', 'images/ruby1_logo.png')
img-gen('29', 'images/vs_logo.png')
