path(path, image, text-color, bg-color)
	#{path}-path > .mdl-card__title{
		color: text-color
  		background: url(image) center 15% no-repeat bg-color
	}
	
img-gen(id, url)
	#img{id}
		background url('../' + url) center / cover
		
header(class, img, pColor, pos)
	header.{class}
		background url("../images/" + img + ".jpg") center pos no-repeat
		// nav.container-fluid
		// 	li:hover:not(.logo)
				// background pColor
				// border-bottom 4px solid pColor				
		.title
			span
				font-weight 900
				color pColor
			small
				font-family 'Roboto'
				color #FFFFFF
				opacity 0.9
				span
					color pColor
					
		// .first-layer
			// background rgba(,,,0.5)